.logo_image {
    margin: auto;
    display: block;
    width: auto;
    height: auto;
    max-width: 300px;
    max-height: 200px;
    object-fit: cover;
    border-radius: 1em;
}
.login_page {
    margin:0 auto;
    width: 400px;
    height: 500px;
    border-style:  solid ;
    border-color:  rgb(228, 245, 196) ;
    display: grid;
    place-items: center;
    border-radius: 2em;
}
input {
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: 3px rgb(75, 89, 96) solid;
    background-color: transparent;
    width: 250px;
    height: 35px;
}
button {
    border-style: solid;
    border-radius: 50px;
    height: 40px;
    width: 265px;
    border: 0;
    outline: 1;
}
 a {
    text-decoration: none;
    margin: 20px;
 }
.user_id {
    margin-top:30px;
}
.user_pw{
    margin-bottom: 24px;
}
